body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  
p {
    font-size: 16px;}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

.img-circle {
    height:20%;
    width:20%;
    object-fit:contain;
}

.bg-1 {
    background-color: #557C83; /* dark grey */
    color: #ffffff;
  }
  .bg-2 {
  background-color: #C4D0C6; /* Dark Blue */
  color: #ffffff;
}

.bg-3 {
  background-color: #EAE9E7; 
  color: #555555;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  
  .navbar-nav li a:hover {
    color: #1abc9c !important;
  }

  .bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
  }
